* {
  margin: 0;
  padding: 0;
}

.error__message {
  color: red;
  position: absolute;
}

.auth__body {
  position: relative;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #1C1C24;
}

.auth__input {
  background-color: #2D2D3A;
  color: white;
  border-radius: 15px;
  min-width: 250px;
  padding: 10px;
  border: none;
  outline: none;
}

.auth__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__btn {
  color: #ffffff;
  border-radius: 15px;
  background-color: #1C1C24;
  border-color: #4447E2;
  width: 200px;
  padding: 15px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #4447E2;
  }
  &:disabled {
    background-color: #2D2D3A;
  }
}

.auth__input-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.auth__btn-wrapper {
  padding: 15px;
}
